/**
* Form elements
*/

// Reboot based on :
// - normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css
// - sanitize.css v12.0.1 | CC0 1.0 Universal | github.com/csstools/sanitize.css
// ––––––––––––––––––––

// 1. Change the font styles in all browsers
// 2. Remove the margin in Firefox and Safari
input,
optgroup,
select,
textarea,
button {
    margin: 0; // 2
    font-family: inherit; // 1
    font-size: 1rem; // 1
    letter-spacing: inherit; // 2
    line-height: $line-height; // 1
    border: 0;
}

option:checked{
    background-color: var(--primary) !important;
    color: var(--primary-inverse) !important;
    // Weird trick to override the browser's default blue
    // color when an option is checked and focussed:
    box-shadow: 0 0 0 100px var(--primary) inset;
}

// Show the overflow in IE.
input {
    overflow: visible;
}

// Remove the inheritance of text transform in Edge, Firefox, and IE
select {
    text-transform: none;
}

// 1. Correct the text wrapping in Edge and IE
// 2. Correct the color inheritance from `fieldset` elements in IE
// 3. Remove the padding so developers are not caught out when they zero out
// `fieldset` elements in all browsers
legend {
    max-width: 100%; // 1
    padding: 0; // 3
    color: inherit; // 2
    white-space: normal; // 1
}

// 1. Remove the default vertical scrollbar in IE
textarea {
    overflow: auto; // 1
}

// Remove the padding in IE 10
[type="checkbox"],
[type="radio"] {
    padding: 0;
}

// Correct the cursor style of increment and decrement buttons in Safari
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

// 1. Correct the odd appearance in Chrome and Safari
// 2. Correct the outline style in Safari
[type="search"] {
    -webkit-appearance: textfield; // 1
    outline-offset: -2px; // 2
}

// Remove the inner padding in Chrome and Safari on macOS
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

// 1. Correct the inability to style clickable types in iOS and Safari
// 2. Change font properties to `inherit` in Safari
::-webkit-file-upload-button {
    -webkit-appearance: button; // 1
    font: inherit; // 2
}

// Remove the inner border and padding of focus outlines in Firefox
::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

//  Remove the focus outline in Firefox
:-moz-focusring {
    outline: none;
}

// Remove the additional :invalid styles in Firefox
:-moz-ui-invalid {
    box-shadow: none;
}

// Change the inconsistent appearance in IE (opinionated)
::-ms-expand {
    display: none;
}

// Remove the border and padding in all browsers (opinionated)
[type="file"],
[type="range"] {
    padding: 0;
    border-width: 0;
}

// Pico
// ––––––––––––––––––––

// Fieldset
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

// Label & legend
label,
fieldset legend {
    display: block;
}

// Blocks, 100%
input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
    width: 100%;
}

// Reset appearance (Not Checkboxes, Radios, Range and File)
input:not([type="checkbox"]):not([type="radio"]):not([type="range"]):not([type="file"]),
select,
textarea {
    appearance: none;
    padding: var(--pad2);
    vertical-align: middle;
}

// Commons styles
input,
select,
textarea {
    background-color: var(--form-element-background-color);
    color: var(--form-element-color);
    box-shadow: none;
    border-radius: $border-radius;
    outline: none;
    
    transition: background-color $transition, border-color $transition, color $transition;
}

input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="file"]),
select,
textarea {
    border: 1px solid var(--form-element-border-color);

    &.has-error {
        border-color: #{$purple};
    }
}

// Active & Focus
input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="checkbox"]):not([type="radio"]):not([readonly]),
select,
textarea {
    &:active,
    &:focus {
        background-color: var(--form-element-active-background-color);
    }
}

// Active & Focus
input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([role="switch"]):not([readonly]),
select,
textarea {
    &:active,
    &:focus {
        border-color: var(--form-element-active-border-color);
    }
}

// Focus
input:not([type="submit"]):not([type="button"]):not([type="reset"]):not([type="range"]):not([type="file"]):not([readonly]),
select,
textarea {
    &:focus {
        box-shadow: 0 0 0 1px var(--form-element-focus-color);
    }
}

// Disabled
input:not([type="submit"]):not([type="button"]):not([type="reset"]),
select,
textarea {
    &[disabled] {
        opacity: var(--form-element-disabled-opacity);
    }
}

// Aria-invalid
input,
select,
textarea {
    
    &:not([type="checkbox"]):not([type="radio"]) {
        &[aria-invalid] {
            padding-right: calc(var(--pad2) + 1.5rem) !important;
            padding-left: var(--pad2);
            padding-inline-end: calc(var(--pad2) + 1.5rem) !important;
            padding-inline-start: var(--pad2) !important;
            background-position: center right 0.75rem;
            background-repeat: no-repeat;
            background-size: 1rem auto;
        }
        
        &[aria-invalid="false"] {
            background-image: var(--icon-valid);
        }
        
        &[aria-invalid="true"] {
            background-image: var(--icon-invalid);
        }
    }
    
    &[aria-invalid="false"] {
        border-color: var(--form-element-valid-border-color);
        
        &:active,
        &:focus {
            border-color: var(--form-element-valid-active-border-color) !important;
        }
    }
    
    &[aria-invalid="true"] {
        border-color: var(--form-element-invalid-border-color);
        
        &:active,
        &:focus {
            border-color: var(--form-element-invalid-active-border-color) !important;
        }
    }
}

[dir="rtl"] {
    input,
    select,
    textarea {
        &[aria-invalid] {
            background-position: center left 0.75rem;
        }
    }
}

// Placeholder
input::placeholder,
input::-webkit-input-placeholder,
textarea::placeholder,
textarea::-webkit-input-placeholder,
select:invalid {
    color: var(--form-element-placeholder-color);
    opacity: 1;
}

// Select
select {
    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand {
        border: 0;
        background-color: transparent;
    }
    
    &:not([multiple]):not([size]) {
        padding-right: calc(var(--pad2) + 1.5rem);
        padding-left: var(--pad2);
        padding-inline-end: calc(var(--pad2) + 1.5rem);
        padding-inline-start: var(--pad2);
        background-image: var(--icon-chevron);
        background-position: center right 0.75rem;
        background-repeat: no-repeat;
        background-size: 1rem auto;
    }
}

[dir="rtl"] {
    select {
        &:not([multiple]):not([size]) {
            background-position: center left 0.75rem;
        }
    }
}


// Styles for Input inside a label
label {
    user-select: none;
    & > input,
    & > select,
    & > textarea {
        margin-top: var(--mar1);
    }
}

label.BooleanField {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--mar3);
    align-items: center;
    & > span {
        flex-grow: 1;
    }
}


@media screen and (min-width:850px) {
    label {
        & > * {
            margin: 0;
        }
        display: flex;
        & > span:first-child {
            width: 40%;
            max-width: 350px;
            flex-shrink: 0;
        }
        gap: var(--mar3);
        align-items: center;
    }

    label.BooleanField {
        flex-direction: row;
        & > span {
            flex-grow: 0;
        }
    }
    
}



/**
* Form elements
* Checkboxes & Radios
*/

[type="checkbox"],
[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1.25em;
    height: 1.25em;
    margin-top: -0.125em;
    margin-right: 0.375em;
    margin-left: 0;
    margin-inline-end: 0.375em;
    margin-inline-start: 0;
    border-width: 1px;
    vertical-align: middle;
    cursor: pointer;
    transition: $transition;
    
    &::-ms-check {
        display: none; // unstyle IE checkboxes
    }
    
    &:checked,
    &:checked:active,
    &:checked:focus {
        background-color: var(--primary);
        border-color: var(--primary);
        background-image: var(--icon-checkbox);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 0.75em auto;
    }
    
    & ~ label {
        display: inline-block;
        margin-right: 0.375em;
        margin-bottom: 0;
        cursor: pointer;
    }
}

// Checkboxes
[type="checkbox"] {
    &:indeterminate {
        background-color: var(--primary);
        border-color: var(--primary);
        background-image: var(--icon-minus);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 0.75em auto;
    }
}

// Radios
[type="radio"] {
    border-radius: 50%;
    
    &:checked,
    &:checked:active,
    &:checked:focus {
        background-image: none;
    }
}

// Switchs
[type="checkbox"][role="switch"] {
    color: var(--switch-color);
    
    // Config
    $switch-height: 1.25em;
    $switch-width: 2.25em;
    $switch-transition: 0.1s ease-in-out;
    
    // Styles
    width: $switch-width;
    height: $switch-height;
    border: 1px solid var(--switch-background-color);
    border-radius: $switch-height;
    background-color: var(--switch-background-color);
    line-height: $switch-height;
    
    &:focus {
        background-color: var(--switch-background-color);
        border-color: var(--switch-background-color);
    }
    
    &:checked {
        background-color: var(--switch-checked-background-color);
        border-color: var(--switch-checked-background-color);
    }
    
    &:before {
        display: block;
        width: calc(#{$switch-height} - (1px * 2));
        height: 100%;
        border-radius: 50%;
        background-color: var(--color);
        content: "";
        
        transition: margin $switch-transition;
    }
    
    &:checked {
        background-image: none;
        
        &::before {
            margin-right: 0;
            margin-left: calc(#{$switch-width * 0.5} - 1px);
            margin-inline-end: 0;
            margin-inline-start: calc(#{$switch-width * 0.5} - 1px);
        }
    }
    
    // Aria-invalid
    &[aria-invalid="false"] {
        border-color: var(--form-element-valid-border-color);
        
        &:active,
        &:focus {
            border-color: var(--form-element-valid-active-border-color) !important;
        }
    }
    
    &[aria-invalid="true"] {
        border-color: var(--form-element-invalid-border-color);
        
        &:active,
        &:focus {
            border-color: var(--form-element-invalid-active-border-color) !important;
        }
    }
}



/**
* Form elements
* Alternatives input types (Not Checkboxes & Radios)
*/

// Color
[type="color"] {
    // Wrapper
    @mixin color-wrapper {
        padding: 0;
    }
    
    &::-webkit-color-swatch-wrapper {
        @include color-wrapper;
    }
    
    &::-moz-focus-inner {
        @include color-wrapper;
    }
    
    // Swatch
    @mixin color-swatch {
        border: none;
        border-radius: calc($border-radius * 0.5);
    }
    
    &::-webkit-color-swatch {
        @include color-swatch;
    }
    
    &::-moz-color-swatch {
        @include color-swatch;
    }
}

// Date & Time
:not(:dir(rtl)) {
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="time"],
    [type="week"] {
        background-image: var(--icon-date);
        background-position: center right 0.75rem;
        background-repeat: no-repeat;
        background-size: 1rem auto;
        
        &::-webkit-calendar-picker-indicator {
            opacity: 0;
        }
    }
    
    // Time
    [type="time"] {
        background-image: var(--icon-time);
    }
}

// File
[type="file"] {
    color: var(--muted-color);
    padding: var(--pad2) 0;
    border: none;
    border-radius: 0;
    background: none;
    
    &:hover,
    &:active,
    &:focus {
        border: none;
        background: none;
    }
    
    @mixin file-selector-button {
        background-color: var(--secondary);
        color: var(--secondary-inverse);
        margin-right: var(--mar2);
        margin-left: 0;
        margin-inline-end: var(--mar2);
        margin-inline-start: 0;
        padding: var(--pad2) var(--pad3);
        border: 1px solid var(--secondary);
        border-radius: $border-radius;
        outline: none;
        font-size: 1rem;
        text-align: center;
        cursor: pointer;
        
        transition: background-color $transition, border-color $transition, color $transition;  
        
        &:hover,
        &:active,
        &:focus {
            background-color: var(--secondary-hover);
            border-color: var(--secondary-hover);
        }
    }
    
    &::file-selector-button {
        @include file-selector-button;
    }
    
    &::-webkit-file-upload-button {
        @include file-selector-button;
    }
    
    &::-ms-browse {
        @include file-selector-button;
    }
}

// Range
[type="range"] {
    // Config
    $height-track: 0.25rem;
    $height-thumb: 1.25rem;
    $border-thumb: 2px;
    
    // Styles
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    height: $height-thumb;
    background: transparent;
    
    // Slider Track
    @mixin slider-track {
        width: 100%;
        height: $height-track;
        border-radius: $border-radius;
        background-color: var(--range-border-color);
        
        transition: background-color $transition, box-shadow $transition;
    }
    
    &::-webkit-slider-runnable-track {
        @include slider-track;
    }
    
    &::-moz-range-track {
        @include slider-track;
    }
    
    &::-ms-track {
        @include slider-track;
    }
    
    // Slider Thumb
    @mixin slider-thumb {
        -webkit-appearance: none;
        width: $height-thumb;
        height: $height-thumb;
        margin-top: #{(-($height-thumb * 0.5) + ($height-track * 0.5))};
        border: $border-thumb solid var(--range-thumb-border-color);
        border-radius: 50%;
        background-color: var(--range-thumb-color);
        cursor: pointer;
        
        transition: background-color $transition,
        transform $transition;
    }
    &::-webkit-slider-thumb {
        @include slider-thumb;
    }
    
    &::-moz-range-thumb {
        @include slider-thumb;
    }
    
    &::-ms-thumb {
        @include slider-thumb;
    }
    
    &:hover,
    &:focus {
        --range-border-color: var(--range-active-border-color);
        --range-thumb-color: var(--range-thumb-hover-color);
    }
    
    &:active {
        --range-thumb-color: var(--range-thumb-active-color);
        
        // Slider Thumb
        &::-webkit-slider-thumb {
            transform: scale(1.25);
        }
        
        &::-moz-range-thumb {
            transform: scale(1.25);
        }
        
        &::-ms-thumb {
            transform: scale(1.25);
        }
    }
}

// Search
[type="search"] {
    border-radius: 5rem;
    
    padding-left: calc(var(--pad2) + 1.75rem) !important;
    background-image: var(--icon-search);
    background-position: center left 1.125rem;
    background-repeat: no-repeat;
    background-size: 1rem auto;
    
    // Cancel button
    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        display: none;
    }
}
