{% extends "layout.html"%}
{% from "form-macro.html" import form_macro %}

{% block title %}
    <a href="/ai/gradings">AI gradings</a>
    <a href="#" >{{ ai_grade.attempt_id }}</a>
{% endblock %}

{% block body %}

<div class="tab-selectors">
    <a>Feedback</a>
    <a>Input</a>
    <a>Prompter {{ai_grade.grading_prompter_id}}</a>
    {% if "error" in ai_grade.prompt_object %}
    <a>Prompter error</a>
    {% else %}
    <a>Prompt</a>
    <a>Output</a>
    {% endif %}
</div>

<div class="tab-blocks">
    <ul>
        {{objectives_feedback | markdown | safe}}
    </ul>
    <ul>
        <pre>{{ai_grade.input | format_json}}</pre>
    </ul>
    <ul>
        <pre>{{ai_grade.grading_prompter.python_code}}</pre>
    </ul>
    {% if "error" in ai_grade.prompt_object %}
    <ul>
        <pre>{{ai_grade.prompt_object.error}}</pre>
     </ul>
    {% else %}
    <ul>
       <pre>{{ai_grade.prompt | format_json}}</pre>
    </ul>
    <ul>
        <pre>{{ai_grade.output | format_json}}</pre>
    </ul>
    {% endif %}
</div>

{% endblock %}