<form class="content rows2" hx-post="/ai/queries" hx-target=".answers" hx-swap="afterbegin">
    <h1>AI help for current lesson<div class="tag is-important">BETA</div></h1>
    <div>
        <textarea id="ai-textarea" name="question" placeholder="{{placeholder}}"></textarea>
        <em>This is not a chat conversation, so try be clear and provide enough detail in one shot.</em>
    </div>
    <input type="submit" value="Ask!">
</form>
<div class="answers">
    {% for query in queries %}
    {{query.to_html() | safe}}
    {% endfor %}
</div>
