{% extends "layout.html" %}
{% block title %}{{'Confirm submission'}}{% endblock%}

{% block body %}
<div class="buttons">
    <form action="/curriculum/{{node_id}}" method="get">
        <button class="outline" type="submit">No, take me back</button>
    </form>

    <form action="/curriculum/{{node_id}}" method="post">
        <input class="button" type="submit" name="force-submit" value="Yes, I'm sure">
        {% for element in form %}
            {% if element.data != None %}
                <input type="hidden" name="{{ element.name }}" value="{{ element.data }}">
            {% endif %}
        {% endfor %}
    </form>

</div>
{% endblock %}