{% extends "modal.html" %}

{% block title %} Flashcards {% endblock %}

{% block content %}
    <input type="hidden" name="start_time" value="{{ start_time }}">
    <p>{{ code_question|safe }}</p>

    {% if cards_done %}
        <input class="modal-button" type="button" value="Close" onclick="closeModal()">
    {% else %}
        {% if not answers %}
            <input type="text" name="answer" placeholder="Type:" autofocus autocomplete="off"/>
            <input type="submit"value="Submit">   
        {% else %}
            <h2 class="flashcard-answers">{{ answers|join(", ") }}</h2>
            <input type="submit"value="Next">   
        {% endif %}    
        
    {% endif %}
{% endblock %}