<div class="modal" onclick="closeModal(this)">
    <div class="content">
        {% include fragment_name ignore missing %}
        <div class="close" onclick="closeModal(this)"></div>
    <div>
</div>