<h1>{% block title %}{% endblock %}</h1>
<form name="modal" method="post" hx-{{ request_method }}='{{ url }}' hx-target='.modal-content' id="modalForm">
    <input type="hidden" name="csrf_token" value="{{ token }}">
    {% block content %}{% endblock %}
</form>